apiVersion: v1
kind: Namespace
metadata:
  labels:
    name: overpowered-service-account
  name: overpowered-service-account
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: op-sa
  namespace: overpowered-service-account
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: op-sa-binding
subjects:
- namespace: overpowered-service-account
  kind: ServiceAccount
  name: op-sa
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: admin
---
apiVersion: v1
kind: Service
metadata:
  name: ssh-pod
  namespace: overpowered-service-account
spec:
  type: NodePort
  selector:
    app: ssh-pod
  ports:
    - protocol: TCP
      port: 2222
      targetPort: 2222
      nodePort: 30022
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: ssh-pod
  name: ssh-pod
  namespace: overpowered-service-account
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ssh-pod
  template:
    metadata:
      labels:
        app: ssh-pod
    spec:
      serviceAccountName: op-sa
      containers:
      - image: lscr.io/linuxserver/openssh-server:latest
        imagePullPolicy: Always
        name: ssh-pod
        env:
        - name: PUID
          value: "1000"
        - name: PGID
          value: "1000"
        - name: TZ
          value: "Europe/Madrid"
        - name: SUDO_ACCESS
          value: "false"
        - name: PASSWORD_ACCESS
          value: "true"
        - name: USER_PASSWORD
          value: "pwned"
        - name: USER_NAME
          value: "pwned"