apiVersion: v1
kind: Service
metadata:
  name: ssh-pod
  namespace: overpowered-service-account
spec:
  type: NodePort
  selector:
    app: ssh-pod
  ports:
    - protocol: TCP
      port: 2222
      targetPort: 2222
      nodePort: 30022